on:
  push:
    branches:
    - main
jobs:
  my_job: 
    name: Test on node
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: node
      uses: actions/setup-node@v4
    - name: npm 
      run: npm install
        
